# IDE
.idea/
.vscode/
.vs/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker volumes
pgdata/
postgres_data/

# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/
logs/

# Godot
.godot/
*.import
export_presets.cfg
